.main-container {
  height: 100svh;
  background-image: linear-gradient(
    to right,
    #dbbcc4,
    #f3dfd8,
    #d8bfd0,
    #b7b1d5
  );
  padding: 24px 18px;
  font-family: 'Roboto';
}

.content-holder {
  background-color: #f8fafc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 24px;
}

.form-container {
  /* border:solid; */
  width: 304px;
  /* display:flex;
  flex-direction: column;  */
}

.label {
  color: #7e858e;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  border: solid #d7dfe9 1.5px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  outline: none;
}

.span-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0px;
}

.checkbox {
  border: solid #d7dfe9 1px;
  border-radius: 2px;
  scale: 1.3;
  margin-right: 10px;
}

.checkbox-label {
  font-size: 13px;
}

.login-button {
  width: 100%;
  background-color: #0ea5e9;
  color: white;
  font-weight: 500;
  padding: 12px;
  border-radius: 15px;
  border: none;
}

.error-msg {
  color: red;
  font-size: 13px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main-container {
    padding: 40px 60px;
  }

  .form-container {
    width: 411px;
  }
}
